---
---
<style>
  body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }

  .nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20vh;

    justify-content: center;
    align-items: center;

    background-image: url("{{ site.baseurl }}/assets/navbar.png");
    background-size: cover;
    background-position: center;
  }

  .nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }

  .nav-buttons > div {
    flex-grow: 1;
    text-align: center;
  }

  .scroll-snap {
    position: absolute;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }

  .section {
    scroll-snap-align: start;

    /* min-height + padding-bottom = 100 */
    min-height: 80vh;
    padding-bottom: 20vh;
  }

  h1 {
    font-size: 4em;
    font-variant-caps: all-small-caps;
  }
</style>

<body>
  <section class="scroll-snap">
    {% include section/brand.html %}
    {% include section/about.html %}
    {% include section/map.html %}
    {% include section/gallery.html %}
    {% include section/films.html %}
    <div class="section" id="contact">
      <h1>contact</h1>
    </div>
  </section>

  <div class="nav-bar">
    <div class="nav-buttons">
      <div><a href="#map">Map</a></div>
      <div><a href="#gallery">Gallery</a></div>
      <div></div>
      <div><a href="#films">Films</a></div>
      <div><a href="#contact">Contact</a></div>
    </div>
  </div>
</body>