---
---
<style>
  body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }

  .nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    justify-content: center;
    align-items: center;
  }

  .nav-buttons {
    display: flex;
    flex-direction: row;
  }

  .nav-buttons > div {
    flex-grow: 1;
    text-align: center;
  }

  .scroll-snap {
    position: absolute;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }

  .section {
    scroll-snap-align: start;
    min-height: 100vh;
  }
</style>

<body>
  <section class="scroll-snap">
    <div class="section" id="home">
      <h1>Francina Ramos</h1>
    </div>
    <div class="section" id="about">
      <h1>about francina</h1>
    </div>
    {% include section/map.html %}
    {% include section/gallery.html %}
    {% include section/films.html %}
    <div class="section" id="contact">
      <h1>contact</h1>
    </div>
  </section>

  <div class="nav-bar">
    <div class="nav-buttons">
      <div><a href="#map">Map</a></div>
      <div><a href="#gallery">Gallery</a></div>
      <div></div>
      <div><a href="#films">Films</a></div>
      <div><a href="#contact">Contact</a></div>
    </div>
  </div>
</body>