<style>
  .section#about {
    background-color: #E0EBED;
  }

  #about h1 {
    text-align: right;
    width: 100%;
  }

  #about .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 2em;
  }

  .description {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
  }

  .description .picture {
    flex: 1 1 33%;
    max-width: 33%;
  }

  .description .text {
    flex: 1;
    font-size: 2em;
  }
  
  .description img {
    width: 100%;
    height: auto;
  }
</style>

<div class="section" id="about">
  <div class="content">
    <h1>Francina Bogetti Ramos</h1>

    <div class="description">
      <div class="picture">
        <img src="/assets/images/francina-bogetti-ramos.jpg" alt="Francina Bogetti Ramos">
      </div>
      <div class="text">
        <p>Francina Bogetti Ramos is a visual artist and researcher. She holds a degree in Visual Arts from the National University of the Arts (UNA) and a Master's degree in Art and Culture Management from the National University of Tres de Febrero (UNTREF). She has participated in numerous group exhibitions and has held solo exhibitions in various galleries and cultural spaces in Buenos Aires. She has also participated in various art fairs and has been selected for several art residencies in Argentina and abroad. She has received several awards and scholarships for her work. She has also worked as a cultural manager in various institutions and has taught art and visual culture in various educational institutions.</p>
      </div>
    </div>
  </div>
</div>