<style>
  #films {
    background-color: #080408;
  }

  #films h1 {
    color: #D73109;
    width: 100%;
    text-align: center;
  }

  .grid-films {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    gap: .5em;
    padding-bottom: 10em;
  }

  .grid-films > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-films h2 {
    font-size: 2em;
  }

  .grid-films .frame {
    color: white;
    font-variant-caps: all-small-caps;
  }

  .grid-films .embed-container {
    width: 80%;
    aspect-ratio: 16 / 9;
  }

  .grid-films iframe {
    height: 100%;
    width: 100%;
  }
</style>

<div class="section" id="films">
  <h1>films</h1>
  <div class="grid-films">
    {% for post in site.categories.films %}
    <div class="frame">
      <h2>{{ post.title }}</h2>
      {% include embed-youtube.html id=post.youtube %}
    </div>
    {% endfor %}
  </div>

  <style>
    .row {
      display: flex;
    }

    .column {
      flex: 50%;
      padding: 10px;
    }
  </style>
</div>