<style>
  .grid-films {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    gap: .5em;
  }

  .grid-films > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>

<div class="section" id="films">
  <h1>films</h1>
  <div class="grid-films">
    {% for post in site.categories.films %}
    <div>
      <h2>{{ post.title }}</h2>
      {% include embed-youtube.html id=post.youtube %}
    </div>
    {% endfor %}
  </div>

  <style>
    .row {
      display: flex;
    }

    .column {
      flex: 50%;
      padding: 10px;
    }
  </style>
</div>