<style>
  #map .header{
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
    color: white;
  }

  #map {
    position: relative;
  }

  .map-container{
    position: relative;
    width: 100%;
  }

  .map {
    width: 100%;
    height: auto;
  }

  .marker {
    position: absolute;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    background-color: red;
    border-radius: 50%;
  }

  .marker dialog {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 1em;
    width: 20em;
    background-color: white;
  }

  .marker:hover dialog {
    display: block;
  }

  dialog .source {
    font-size: 0.8em;
    color: grey;
  }
</style>

<div class="section" id="map">
  <h1 class="header">Articles</h1>
  <div class="map-container">
  {% for article in site.data.articles %}
      <div class="marker" style="left: {{ article.x }}%; top: {{ article.y }}%;">
        <dialog open>
          <span class="source">{{ article.source }}</span>
          <p><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></p>
        </dialog>
      </div>
  {% endfor %}
    <img class="map" src="{{ site.baseurl }}/assets/mapa-mercator.jpeg">
  </div>
</div>